a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* styles begin */

body {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: #351C75;
    background-color: #e6e9f0 ;

}
/* game container */

.game-container {
    text-align: center;
    height: 100vh;
    width: 525px;
    margin: auto;
}

h1 {
    padding: 50px;
    font-size: 60px;
}

/* boxes */

.box {
    width: 175px;
    height: 175px;
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.box:hover {
    background-color: rgba(255,0,153,0.1)
}

.box:focus {
    outline: none !important;
    box-shadow: 0 0 10px #FF0099;

}

.zero, .one, .three, .four, .six, .seven {
    border-right: 2px solid #351C75;
}
.zero, .one, .two, .three, .four, .five {
    border-bottom: 2px solid #351C75;
}

/* toggle containers */

.toggle-container {
    width: 40%;
    display: inline-block;
    padding-top: 75px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0099;
}

input:focus + .slider {
  box-shadow: 0 0 10px #FF0099;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;

}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    padding-top: 25px;
}

/* hidden containers / modals */

.gameover-container,
.error-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.gameover-message-container,
.error-message-container {
    width: 70%;
    height: 60%;
    padding: 30px;
    display: flex;
    text-align: center;
    color: rgba(53,28,117, 0.9);
    line-height: 45px;
    font-size: 40px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(200, 200, 200, 0.8);
}

i {
    font-size: 75px;
    color: #FF0099;
}

#restartButton,
#resumeButton {
    background-color: rgba(53,28,117, 0.7);
    border-radius: 30px;
    outline: none;
    padding: 10px 20px;
    font-family: 'Comfortaa', cursive;
    color: #FF0099;
}
i:focus,
i:hover,
#restartButton:focus,
#resumeButton:focus,
#restartButton:hover,
#resumeButton:hover {
    box-shadow: 0 0 10px #FF0099;
}  

.modal-active {
    visibility: visible;
    opacity: 1;
}

/* responsive */

@media screen and (max-width: 525px) {
    .game-container {
        height: 100vh;
        width: 100%;
        margin: auto;
    }

    .box {
        width: 33vw;
        height: 33vw;
        float: left;
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-align: center;
    }

    h1 {
        padding: 30px;
        font-size: 40px;
    }

    .toggle-container {
        width: 40%;
        display: inline-block;
        padding-top: 40px;
    }

    p {
        display: flex;
    }

    .gameover-message-container,
    .error-message-container {
        width: 80%;
        height: 70%;
        padding: 30px;
        display: flex;
        text-align: center;
        color: rgba(53,28,117, 0.9);
        line-height: 30px;
        font-size: 20px;
    }
}